@import "../../styles/global.scss";

.bar-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: px2rem(60);
  z-index: 101;
  background: white;
  @include top-shadow;
  .menu-item {
    flex: 1;
    @include center;
  }
}
